{% extends 'base.html.twig' %}

{% block title %}
    Dodaj komentarz
{% endblock %}

{% block body %}
    <h1>Dodaj komentarz</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input name="submit" type="submit" value="Dodaj" class="btn btn-primary"/>
    </div>
    {{ form_end(form) }}
{% endblock %}