{% extends 'base.html.twig' %}

{% block title %}
    Edytuj dane
{% endblock %}

{% block body %}
    <h1>Edytuj dane</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="Zapisz" class="btn btn-primary"/>
    </div>
    {{ form_end(form) }}
{% endblock %}